 .page_light {
   display: flex;
   width: 100%;
   /* height: 100vh; */
   height: 100%;
   justify-content: center;
   align-items: center;
   background-color: #fff;


   .main {
     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;

     & .container_topo {
       width: 100%;
       max-width: 1024px;
       height: 10vh;
       display: flex;
       align-items: center;
       justify-content: space-between;
       padding: 0px 20px;
       margin: 0 auto;
     }

     & .img {
       width: 100px;
       height: 100px;
     }

     & .btn {
       padding: 6px 12px;
       border-radius: 20px;
       font-size: 20px;
       border: 1px solid #B2987D;
       background-color: #fff;
       cursor: pointer;
     }

     & .container_banner {
       display: flex;
       width: 100%;
       height: 60vh;
       background-image: url(../../public/banner.jpg);
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center;
       position: relative;
       margin-bottom: 20px;
     }

     & .container_informacao {
       width: 100%;
       max-width: 900px;
       height: 60vh;
       display: flex;
       flex-direction: column;
       gap: 30px;
       justify-content: center;
       align-items: center;
       margin: 30px auto;
       padding: 20px;
       text-align: center;

       & h1 {
         font-size: 40px;
         color: #000;
       }

       & p {
         font-size: 18px;
         color: #000;
       }

       & p:last-child {
         font-family: "Great Vibes", serif;
         font-size: 50px;
         color: #B2987D;
       }
     }
   }
 }


 .page_dark {
   display: flex;
   width: 100%;
   /* height: 100vh; */
   height: 100%;
   justify-content: center;
   align-items: center;
   background-color: #252323;


   .main {
     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;

     .icons {
       color: #fff;
     }

     & .container_topo {
       width: 100%;
       max-width: 1024px;
       height: 10vh;
       display: flex;
       align-items: center;
       justify-content: space-between;
       padding: 0px 20px;
       margin: 0 auto;
     }

     & .img {
       width: 100px;
       height: 100px;
       filter: brightness(0) saturate(100%) invert(100%);
     }

     & .btn {
       padding: 6px 12px;
       border-radius: 20px;
       font-size: 20px;
       border: 1px solid #B2987D;
       background-color: #252323;
       cursor: pointer;
     }

     & .container_banner {
       display: flex;
       width: 100%;
       height: 60vh;
       background-image: url(../../public/banner.jpg);
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center;
       position: relative;
       margin-bottom: 20px;
     }

     & .container_informacao {
       width: 100%;
       max-width: 900px;
       /* height: 60vh; */
       display: flex;
       flex-direction: column;
       gap: 30px;
       justify-content: center;
       align-items: center;
       margin: 30px auto;
       padding: 20px;
       text-align: center;

       & h1 {
         font-size: 40px;
         color: #fff;
       }

       & p {
         font-size: 18px;
         color: #fff;
       }

       & p:last-child {
         font-family: "Great Vibes", serif;
         font-size: 50px;
         color: #B2987D;
       }
     }
   }
 }